<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util" 
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
		   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
		   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
	   default-autowire="byType" default-lazy-init="false">

	<bean id="autoProxyCreator" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
	<!-- 部署文件定义-->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true"/>
		<property name="locations">
			<list>
				<value>classpath:properties/config.properties</value>
				<value>classpath:properties/db_config.properties</value>
           	</list>
		</property>
	</bean>
	<context:component-scan base-package="com.eleven7.imall" />
	<!-- 导入其他配置文件 -->
	<import resource="spring-dao.xml" />
	
</beans>